@font-face {
    font-family: 'TIME MOVER';
    src: url('../fonts/TIMEMOVER.woff2') format('woff2'),
        url('../fonts/TIMEMOVER.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Airframe Demo';
    src: url('../fonts/AirframeDemoRegular.woff2') format('woff2'),
        url('../fonts/AirframeDemoRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Airframe Demo';
    src: url('../fonts/AirframeDemoBoldItalic.woff2') format('woff2'),
        url('../fonts/AirframeDemoBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Airframe Demo Outline';
    src: url('../fonts/AirframeDemoOutline.woff2') format('woff2'),
        url('../fonts/AirframeDemoOutline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Airframe Demo';
    src: url('../fonts/AirframeDemoBold.woff2') format('woff2'),
        url('../fonts/AirframeDemoBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Airframe Demo';
    src: url('../fonts/AirframeDemoItalic.woff2') format('woff2'),
        url('../fonts/AirframeDemoItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@import url("https://fonts.googleapis.com/css?family=Pangolin:regular&display=swap&subset=cirillic-ext");



/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
}

li {
    list-style: none;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

img {
    vertical-align: top;
}
html{
    font-size: 16px;
}
body{
    line-height: 1;
}

/* ОБНУЛЕНИЕ СТИЛЕЙ */


h1{
    font-family: "Time MOVER", serif;
    font-size: 50px;
    text-align: center;
    padding: 5%;
}
.polosa{
    color: #000;
    background-color: #000;
    height: 2px;
}
span{
    font-family: "Time MOVER", serif;
        font-size: 40px;
        text-align: center;
        margin: 25px 0 0px 20px;
        display: inline-block;
}
.list{
    font-family: "Airframe Demo Outline", serif;
    font-size: 30px;
    color: red;
    text-shadow: 0 0 10px red;
    font-weight: 700;
    padding: 20px;


}
p{
    font-family: 'Splash', cursive;
    font-size: 20px;
    line-height: 1.5;
    padding: 10px;
    text-indent: 50px;
}
p:first-letter{
    color: red;
    font-size: 35px;
}
.link{
    text-transform: uppercase;
    text-shadow: 2px 2px 3px  red;
    color: #000;
    

   

}








